/* Variables */

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-grey: #32425C;
  --basic-greydark: #293449;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-wight-active: rgba(255, 255, 255, 0.5);
  --basic-greyactive: #1D2739;

  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-yellowdark: #FFC047;
  --special-success: #5FBB2D;
  --special-error: #BA2732;
  --special-socials: #212A3A;
  --special-price: #A9A9A9;
  --special-greendark: #518534;
  --special-background: #F3F7F8;
  --special-backgroundtitle: #F9F5F0;
  --special-backgroundblue: #F2F6F8;
}

/* Global */
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Header */
.main-header {
  margin-bottom: 60px;
  background-color: var(--special-background);
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header-navigation-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-navigation .container {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 220px;
  height: 47px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.card-navigation {
  display: flex;
  width: 415px;
  justify-content: space-between;
}

.card-navigation,
.site-navigation {
  list-style: none;
}

.header-navigation {
  width: 100%;
  background-color: var(--basic-greydark);
}

.header-info {
  width: 100%;
  padding-top: 46px;
  padding-bottom: 40px;
}

.header-info .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-navigation {
  width: 940px;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 60px;
  justify-content: space-around;
  align-items: center;
}

.search-form input {
  background-color: var(--basic-greydark);
  border: none;
}

.search-form input:active {
  background-color: var(--basic-white);
}

.main-navigation {
  background-color: var(--basic-grey);
}

.header-navigation a,
.site-navigation a {
  color: var(--basic-white);
}

.card-order {
  background-color: var(--basic-green);
}

.card-full {
  background-color: var(--basic-red);
}

.card-order:hover,
.card-order:focus {
  background-color: var(--special-success);
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--basic-greydark);
}

.card-navigation a:active,
.site-navigation a:active {
  color: var(--basic-wight-active);
}

.site-navigation a:active {
  background-color: var(--basic-greyactive);
}

.header-text {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.header-tel {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-grey);
}

.user-navigation a {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--basic-red);
}

.user-navigation a:active {
  color: var(--basic-greylight);
}

.user-name {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.user-name:active {
  color: var(--basic-greylight);
}

.user-account {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey);
}

.user-account:hover,
.user-account:focus {
  color: var(--basic-red);
}

.user-account:active {
  color: var(--basic-greylight);
}

/* Section About */
.index-columns {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-gap: 160px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.about h2,
.contacts h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.index-columns h2,
.services h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.index-columns p,
.services p {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.contacts p {
  margin-bottom: 32px;
}

.contacts button {
  margin-top: 25px;
}

.about-list {
  list-style: none;
  margin-bottom: 20px;
}

.about-list li {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

/* buttons */
.button,
.button-buy,
.button-bookmark {
  background-color: var(--basic-red);
}

.button,
.button-buy,
.button-bookmark,
.promo-button {
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  color: var(--basic-white);
  border: none;
}

.filter-button {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 1px solid #E5E5E5;
}

.button:active {
  background-color: var(--special-error);
}

.button-buy {
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
}

.button-buy:hover,
.button-buy:focus {
  background-color: var(--special-success);
}

.button-buy:active {
  background-color: var(--special-greendark);
}

.button-bookmark {
  color: var(--basic-grey);
  background-color: var(--basic-white);
  border: 3px solid #63A63E;
  border-radius: 2px;
}

.button-bookmark:hover,
.button-bookmark:focus {
  border: 3px solid #32425C;
}

.promo-button {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-button:hover,
.promo-button:focus {
  background-color: rgba(197, 197, 197, 0.3)
}

.promo-button:active {
  background-color: rgba(169, 169, 169, 0.3);
}

/* Footer */
.main-footer-container {
  display: flex;
  flex-direction: column;
}

.footer-contacts-wrapper .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-copyright {
  margin: 0;
  width: 240px;
}

.footer-navigation-wrapper .container {
  display: grid;
  grid-template-columns: 380px 1fr;
}

.footer-navigation-wrapper {
  background-color: var(--basic-grey);
}

.footer-contacts-wrapper {
  background-color: var(--basic-greydark);
}

.main-footer-logo {
  width: 220px;
  height: 68px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer-address p {
  color: var(--basic-white);
}

.footer-navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
}

.footer-navigation-list a {
  color: var(--basic-white);
}

.footer-navigation-list a:hover,
.footer-navigation-list a:focus,
.footer-offers-list a:hover,
.footer-offers-list a:focus {
  text-decoration: underline;
}

.footer-navigation-list a:active,
.footer-offers-list a:active {
  opacity: 0.5;
}

.footer-offers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
}

.footer-offers-list a {
  color: var(--special-yellowlight);
}

.footer-contacts-wrapper p {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-contacts {
  width: 300px;
  margin: 0;
  justify-self: start;
}

.footer-contacts p {
  margin: 0;
}

.footer-contacts span {
  color: var(--special-yellowlight);
}

.footer-contacts span:hover,
.footer-contacts span:focus {
  text-decoration: underline;
}

.footer-contacts span:active {
  color: var(--basic-red);
}

.socials {
  width: 140px;
  justify-self: center;
  text-align: center;
}

.socials ul {
  width: 138px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.socila-item a {
  background-color: var(--special-socials);
}

.socila-item a:hover,
.socila-item a:focus,
.socila-item a:active {
  background-color: var(--basic-red);
}

/* Catalog */
.inner-page {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.page-catalog-container {
  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
}

.page-catalog-container .section-title {
  grid-column: 1 / -1;
}

/* Breadcrumbs */
.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
  text-transform: uppercase;
}

.page-catalog-container .breadcrumbs {
  grid-column: 1 / -1;
}

.section-title {
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-grey);
  text-transform: uppercase;
}

.section-title-perforators {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--special-backgroundblue);
}

/* Filters */
.filters {
  width: 220px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
  border: none;
}

.filters h2 {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-price-label {
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

/* Catalog */
.catalog,
.catalog-sorting {
  margin-left: 20px;
}

.sorting-list {
  list-style: none;
}

.catalog-sorting h3 {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-list-item a {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  border-bottom: 1px dotted #EE3643;
}

.sorting-list-item-current a {
  color: var(--basic-red);
  border: none;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  list-style: none;
}

.catalog-item {
  width: 218px;
  min-height: 320px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #EAEAEA;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item h3 {
  margin-top: 28px;
  margin-left: 30px;
  margin-right: 30px;
}

.catalog-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-item h3,
.bestseller-products-list-item h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--basic-black);
}

.catalog-item p,
.bestseller-products-list-item p {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.catalog-price-old span {
  color: var(--special-price);
  text-decoration: line-through;
}

.catalog-price-new span {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

/* Pagination */
.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: var(--basic-black);
  border: 1px solid #E5E5E5;
  border-radius: 2px;
}

.pagination-item-current a {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.pagination-item a:hover,
.pagination-item a:focus {
  border: 1px solid #C5C5C5;
}

.pagination-item a:active {
  border: 1px solid #EE3643;
}

/* Perforator-info */
.perforator-info {
  background-color: var(--special-background);
}

.perforator-info h2 {
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.perforator-info p {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/* Promo */
.promo-list {
  list-style: none;
}

.promo-list-item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.promo-list-item button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
}

.promo-list-item-material {
  background-color: var(--special-yellow);
}

.promo-list-item-tools {
  background-color: var(--special-blue);
}

.promo-list-item-equipment {
  background-color: var(--special-lilac);
}

.promo-list-item-discount {
  background-color: var(--special-greenlight);
}

.promo-list-item-delivery {
  background-color: var(--special-yellowdark);
}

/* bestseller-products */
.bestseller-products h2,
.bestseller-brands h2 {
  background-color: var(--special-backgroundtitle);
}

.bestseller-products-list {
  list-style: none;
}

/* bestseller-brands */
.bestseller-brands-list {
  list-style: none;
}

/* Services */
.services {
  background-color: var(--basic-background);
}

.delivery h3,
.guarantee h3,
.credit h3 {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-grey);
  text-transform: uppercase;
}

/* Sliders */
.slider h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.slider p {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}
