/* Variables */

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-grey: #32425C;
  --basic-greydark: #293449;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-wight-active: rgba(255, 255, 255, 0.5);
  --basic-greyactive: #1D2739;


  --special-ylellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-success: #5FBB2D;
  --special-warning: #FFBF47;
  --special-error: #BA2732;
  --special-socials: #212A3A;
  --special-price: #A9A9A9;
  --special-greendark: #518534;
}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


/* Header */
.main-header {
  background-image: url("img/top-background.png");
}

.header-logo {
  background-color: var(--basic-red);
}

.card-navigation,
.site-navigation {
  list-style: none;
}

.header-navigation {
  background-color: var(--basic-greydark);
}

.search-form input {
  background-color: var(--basic-greydark);
  border: none;
}

.search-form input:active {
  background-color: var(--basic-white);
}

.main-navigation {
  background-color: var(--basic-grey);
}

.header-navigation a,
.site-navigation a {
  color: var(--basic-white);
}

.card-order {
  background-color: var(--basic-green);
}

.card-full {
  background-color: var(--basic-red);
}

.card-order:hover,
.card-order:focus {
  background-color: var(--special-success);
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--basic-greydark);
}

.card-navigation a:active,
.site-navigation a:active {
  color: var(--basic-wight-active);
}

.site-navigation a:active {
  background-color: var(--basic-greyactive);
}

.header-text {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.header-tel {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-grey);
}

.user-navigation a {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--basic-red);
}

.user-navigation a:active {
  color: var(--basic-greylight);
}

.user-name {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.user-account {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey);
}

/* Section About */
.index-columns h2 {
  font-size: 30px;
  line-height: 30px;
}

.index-columns p {
  font-family: PT Sans;
  font-size: 13px;
  line-height: 24px;
}

.about-list {
  list-style: none;
}

/* buttons */
.button,
.button-buy,
.button-bookmark {
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
}

.filter-button {
  font-family: PT Sans;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 1px solid #E5E5E5;
}

.button:active {
  background-color: var(--special-error);
}

.button-buy {
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
}

.button-buy:hover,
.button-buy:focus {
  background-color: var(--special-success);
}

.button-buy:active {
  background-color: var(--special-greendark);
}

.button-bookmark {
  color: var(--basic-grey);
  background-color: var(--basic-white);
  border: 3px solid #63A63E;
  border-radius: 2px;
}

.button-bookmark:hover,
.button-bookmark:focus {
  border: 3px solid #32425C;
}

/* Footer */
.footer-navigation-wrapper {
  background-color: var(--basic-grey);
}

.footer-contacts-wrapper {
  background-color: var(--basic-greydark);
}

.main-footer-logo {
  background-color: var(--basic-red);
}

.footer-address p {
  color: var(--basic-white);
}

.footer-navigation-list {
  list-style: none;
}

.footer-navigation-list a {
  color: var(--basic-white);
}

.footer-navigation-list a:hover,
.footer-navigation-list a:focus,
.footer-offers-list a:hover,
.footer-offers-list a:focus {
  text-decoration: underline;
}

.footer-navigation-list a:active,
.footer-offers-list a:active {
  opacity: 0.5;
}

.footer-offers-list {
  list-style: none;
}

.footer-offers-list a {
  color: var(--special-yellowlight);
}

.footer-contacts-wrapper p {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-contacts span {
  color: var(--special-yellowlight);
}

.footer-contacts span:hover,
.footer-contacts span:focus {
  text-decoration: underline;
}

.footer-contacts span:active {
  color: var(--basic-red);
}

.socials {
  text-align: center;
}

.socials ul {
  list-style: none;
}

.socila-item a {
  background-color: var(--special-socials);
}

.socila-item a:hover,
.socila-item a:focus,
.socila-item a:active {
  background-color: var(--basic-red);
}

/* Catalog */

.inner-page {
  font-family: PT Sans;
  font-size: 13px;
  line-height: 18px;
}
/* Breadcrumbs */
.breadcrumbs {
  list-style: none;
  text-transform: uppercase;
}

.section-title {
  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-grey);
}

/* Filters */

.filter legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

/* Catalog */

.catalog-list {
  list-style: none;
}

.catalog-item {
  border: 1px solid #EAEAEA;
}

.catalog-item h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}

.catalog-item p {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.catalog-price-old span {
  color: var(--special-price);
  text-decoration: line-through;
}

.catalog-price-new span {
  color: var(--basic-white);
  background-color: var(--basic-red);
}
